<h1>My profile</h1>
<p>
<strong>My balance:</strong> N €<br/>
<strong>My time credits:</strong> N days
</p>
<p>
My current reservations: 
</p>
<table>
<td>*** A list of artworks I currently have lended *** </td>
</table>

<p>
My artworks: 
</p>
<table>
<td>*** A list of artworks owned and / or produced by me ***<br/>
With edit / delete</td>
</table>

<p>
Add new artwork:
*** Add new artwork form ***
</p>
